
.contain{
    /* background: linear-gradient(to top ,#4EC1FE,#A64EFE);
    width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
   
}
.box{
    background-color: rgb(65, 19, 126);
    color: white;
    width: 350px;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
   align-items: center;
   gap: 9px;

}
/* .innerBox{
   
    display: flex;
    flex-direction: column;  
    align-items: center; 
        
} */
h4{
    width: 100%;
    background-color: #21053d;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    width: 87%;
    padding: 6px;
    border-radius: 6px;
}
.int{
    display: flex;
    align-self: flex-start;
    margin-left: 20px;
     
}

.button{
    width: 50%;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-self:flex-end ;
    margin-right: 20px !important;
    border-radius: 10px !important;
    justify-content: center;
    background-color: #04773e; 
    color:rgb(235, 233, 233);
}
.fotbox{
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-style: italic;
    font-size: 1rem;
}
.Link{
    color:white;
    text-decoration: none;
    font-weight: 600;
}
.Link:hover{
 color: #fee44e;
}
.fb ,.twi ,.goo{
    border:1px solid white;
    border-radius: 40%;
    padding:6px;
    font-size:1.3rem;
    margin:6px ;
   
}

.fb:hover{
    color: #2f15be;
    background-color: aliceblue;
    cursor: pointer;
}
.twi:hover{
    color: #3bade2;
    background-color: aliceblue; 
    cursor: pointer;  
}
.goo:hover{
    color: #eb2232;
    background-color: aliceblue;
    cursor: pointer;
}
.cont{
    padding:6px;
    font-size:1.5rem;
    color:yellow;
}
.input{
    background: transparent !important;
    color: white !important;  
}
::placeholder{
    color: white !important;
    font-size: 0.9rem;
}
